	body {
		background-color: white;
		margin: 0;
		padding: 0;
		font-family: 'Amethysta', Times, serif;
		font-weight: normal;
		text-align: left;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		font-kerning: normal;
		-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
		-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
	}

	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
			font-weight: normal;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
		}
	a:visited {
			color: black;
		}

	::-moz-selection { /* Code for Firefox */
	    color: #fff; 
	    background: pink;
	}

	::selection {
	    color: #fff; 
	    background: pink;
	}

	h1 {
		float: left;
		position: fixed;
		z-index: 15;
		margin: 15px;
		font-size: 50px;
		font-weight: normal;
		line-height: 55px;
		word-spacing: -4px;
		color: black;
		padding-right: 20px;
	}

		h1 a {
			text-decoration: none;
			color: black;
		}

			h1 a:hover {
				text-decoration: none;
			}
	.hicks{
		padding: 0;
	}

	#container {
		float: left;
		clear: both;
		z-index: 5;
		width: 100%;
		margin-top: 300px;
		margin-bottom: 160px;
		padding: 0px;
		font-weight: normal;
	}
	/*----------NOT HOMEPAGE CSS------------*/
	#wrapper{
		width: 100%;
	}
	.topImgs{
		width: 100%;
		display: inline-block;
		margin-top:250px; 
		margin-left: 50px;
		margin-bottom: 125px;
		clear: left;
	}
	.topImgs img{
		width:400px;
		position: relative;
	}
	#middleTopImg{
		top:-150px;
		margin: 50px;
	}
	.desc{
		position: relative;
		top: -20px;
		left: 15px;
	}
	#buttons{
		text-align: center;
	}
	#buttonsContainer{
		display: inline-block;
		width:100%;
	}
	#previous{
		display: inline-block;
	}
	#next{
		position: relative;
		display: inline-block;
	}
	.templateText{
		
	}
	.templateText p{
		text-align: left;
	}
	.templateText span{
		text-align: left;
	}
	#detailShot{
		margin-top: 30px;
		margin-left: 50px;
	}
	#twoTemp{
		float: left;
		margin-top: 0;
		margin-bottom: 35px;
		padding-right: 10px;
		font-weight: normal;
	}
	#detailShot img{
		width: 400px;
	}
	#exit{
		position: fixed;
		top: 20px;
		right:20px;
		background: rgba(255,255,255,0.1);
	
	}
	/*-------END NOT HOME PAGE CSS----------*/
	#one {
		float: left;
		width: 400px;
		margin-top: 4px;
		margin-bottom: 35px;
		padding-right: 10px;
		font-weight: normal;
	}
		#one h1 {
			float: left;
			position: relative;
			z-index: 10;
			margin: 14px 0px 0px 17px;
			font-weight: normal;
			font-size: 50px;
			line-height: 53px;
			word-spacing: -4px;
			/*letter-spacing: .01em;*/
			color: black;
		}

		#one h3 {
			position: relative;
			font-weight: normal;
			margin-top: -72px;
		}


	#two {
		float: left;
		width: 400px;
		margin-top: 0;
		margin-bottom: 35px;
		padding-right: 10px;
		font-weight: normal;
	}

	h2 {
		margin: 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
	}

		h2 span {
			color: black;
		}

	.bodytext {
		margin: 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
		border-top: 1px solid black;
	}


	h4 {
		margin: 500px 0px 0px 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
	}

	h5 {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		margin-right: 40px;
		margin-bottom: 38px;
		font-family: Helvetica;
		font-size: 28px;
		color: black;
	}

		h5 span {
			padding-left: 30px;
			color: black;
		}

	#three {
		float: left;
		width: 400px;
		margin-top: 0;
		margin-bottom: 35px;
		color: black;
		font-weight: normal;
	}

	.footer {
		font-family: 'Roboto Mono', Helvetica, sans-serif;
		font-weight: 700;
		width: 100%;
		margin-bottom: 10px;
		color: black;
		/*float: left;
		margin-left: 18px;
		clear:both;
		position: relative;
		margin: 0px 0px 10px 5px;*/
	}
	#left{
		position: fixed;
		left: 10px;
		bottom: 10px;
		width: 1em;
	}
	#right{
		position: fixed;
		right: 10px;
		bottom: 10px;
		width: 1em;
		text-align: center;
	}

	span {
		font-family: 'Roboto Mono', Helvetica, sans-serif;
		font-size: 11px;
		font-weight: normal;
		line-height: 40px;
		letter-spacing: 1px;
		color: white;
		background: black;
		padding:5px;
	}

	.normal {
		font-weight: normal;
		text-align: center;
	}

	.hide{
		display: none;
		position: fixed;
		z-index: -1;
		top:50%;
		left:50%;
		-ms-transform: translate(-50%, -50%); /* IE 9 */
	    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
	    transform: translate(-50%, -50%);
	}

	@media all and (min-width: 910px) and (max-width: 1310px) {

		#three {
			clear: none;
		}

		#three h4 {
			display: none;
		}
		/*----------NOT HOMEPAGE CSS------------*/
		.topImgs img{
			width:300px;
			position: relative;
		}
		#middleTopImg{
			top:-100px;
			margin: 0;
		}
	}


	@media all and (min-width: 740px) and (max-width: 910px) {

		#one {
			float: left;
		}

		#two {
			float: left;
			margin-top: 0px;
		}

		#three {
			float: left;
			clear: none;
			position: relative;
			margin-top: -10px;
			margin-left: 0px;
			width: 370px;
		}

		#three h4 {
			display: none;
		}
		/*----------NOT HOMEPAGE CSS------------*/
		.topImgs{
			margin-top: 150px;
		}
		.topImgs img{
			width:400px;
			position: relative;
		}
		#middleTopImg{
			top:0px;
			margin: 0;
		}

	}

	@media all and (min-width: 370px) and (max-width: 740px) {

		#one {
			float: left;
			clear: none;
			position: relative;
			width: 370px;
		}

		#two {
			float: left;
			clear: none;
			position: relative;
			margin-top: 0px;
			width: 370px;
		}

		#three {
			float: left;
			clear: none;
			position: relative;
			margin-top: -10px;
			margin-left: 0px;
			width: 370px;
		}

		#three h4 {
			display: none;
		}
		/*----------NOT HOMEPAGE CSS------------*/
		.topImgs img{
			width:300px;
			position: relative;
		}
		#middleTopImg{
			top:0px;
			margin: 0;
		}
	}