@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100');

body {
	background-color: yellow;
	width: 100vw;
    height: 100vh;
    overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 100;
	line-height: 48px;
	text-align: left;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	font-kerning: normal;
	-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
	-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
	font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
}
div{
	margin: 10px;
	margin-right: 30px;
	padding: 15px;
}
a {	text-decoration: none;}
nav{display: none;}
nav a{color: blue}
nav a:hover {border-bottom: 2px solid blue;}
nav a:visited{color: blue}
.show{display: block!important;}
.hide{display: none!important;}
.none{color: black;}
.none:hover{border-bottom: 2px solid black;}
.info-h1{
	padding: 0px;
	margin: 0px;
}
.info-page{
	display: none;
}
