	body {
		background-color: white;
		margin: 0;
		padding: 0;
		font-family: 'Amethysta', Times, serif;
		font-weight: normal;
		text-align: left;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		font-kerning: normal;
		-moz-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-moz-font-feature-settings:"onum=1, tnum=1, frac=1, kern=1, liga=1"; 
		-ms-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-o-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		-webkit-font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1; 
		font-feature-settings:"onum" 1, "tnum" 1, "frac" 1, "kern" 1, "liga" 1;
	}

	::-moz-selection { /* Code for Firefox */
	    color: #fff; 
	    background: pink;
	}

	::selection {
	    color: #fff; 
	    background: pink;
	}

	h1 {
		float: left;
		position: fixed;
		z-index: 15;
		margin: 15px;
		font-size: 50px;
		font-weight: normal;
		line-height: 55px;
		word-spacing: -4px;
		color: black;
		padding-right: 20px;
		border-right: 1px solid black;
	}

		h1 a {
			text-decoration: none;
			color: black;
			transition: all 0.2s ease-in-out;
		}

			h1 a:hover {
				text-decoration: none;
				color: #507410;
				border: 0;
				transition: all 0.2s ease-in-out;
			}
		.hicks{
			padding: 0;
		}
		.intro{
			font-size: 11px;
			padding: 5px;
			font-family: 'Roboto Mono', Helvetica, sans-serif;
			color: white;
			background-color: black;
		}

	#container {
		float: left;
		clear: both;
		z-index: 5;
		width: 100%;
		margin-top: 300px;
		margin-bottom: 160px;
		padding: 0px;
		font-weight: normal;
	}

	#bio {
		float: left;
		clear: both;
		width: 400px;
		margin-top: 4px;
		padding-right: 10px;
		font-weight: normal;
	}

		#bio h1 {
			float: left;
			position: relative;
			z-index: 10;
			margin: 14px 0px 0px 17px;
			font-weight: normal;
			font-size: 50px;
			line-height: 53px;
			word-spacing: -4px;
			/*letter-spacing: .01em;*/
			color: black;
		}

		#bio h3 {
			position: relative;
			font-weight: normal;
			margin-top: -72px;
		}


	#details {
		float: left;
		width: 400px;
		margin-top: 0;
		padding-right: 10px;
		font-weight: normal;
	}

		#details a {
			text-decoration: none;
			color: black;
			font-weight: normal;
			transition: all 0.2s ease-in-out;
		}

			#details a:visited {
				color: inherit;
				font-weight: normal;
			}

			#details a:hover {
				font-weight: normal;
				color: maroon;
				cursor: crosshair;
				transition: all 0.2s ease-in-out;
			}

	h2 {
		margin: 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
	}

		h2 span {
			color: black;
		}

	h3 {
		margin: 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
		border-top: 1px solid black;

	}

		h3 a {
			text-decoration: none;
			transition: all 0.2s ease-in-out;
			color: black;
		}

			h3 a:visited {
				color: black;
			}

			h3 a:hover {
				color: maroon;
				transition: all 0.2s ease-in-out;
			}

	h4 {
		margin: 500px 0px 0px 20px;
		font-size: 28px;
		line-height: 32px;
		color: black;
		font-weight: normal;
	}

	h5 {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		margin-right: 40px;
		margin-bottom: 38px;
		font-family: Helvetica;
		font-size: 28px;
		color: black;
	}

		h5 span {
			padding-left: 30px;
			color: black;
		}

	#links {
		float: left;
		margin-top: 0;
		color: black;
		font-weight: normal;
	}

		#links a {
			text-decoration: none;
			color: black;
			font-weight: normal;
			transition: all 0.2s ease-in-out;
		}

			#links a:visited {
				color: inherit;
			}

			#links a:hover {
				font-weight: normal;
				color: maroon;
				transition: all 0.2s ease-in-out;
			}


	.footer {
		font-family: 'Roboto Mono', Helvetica, sans-serif;
		font-weight: 700;
		width: 100%;
		margin-bottom: 10px;
		color: black;
		/*float: left;
		margin-left: 18px;
		clear:both;
		position: relative;
		margin: 0px 0px 10px 5px;*/
	}
	#left{
		position: fixed;
		left: 10px;
		bottom: 10px;
		width: 1em;
	}
	#right{
		position: fixed;
		right: 10px;
		bottom: 10px;
		width: 1em;
	}
	#nav {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 15;
		text-align: right;
		margin-right: 20px;
		margin-bottom: 14px;
		color: black;
		/*margin-top: 161px;*/
	}

		#nav h3 {
			display: inline-block;
		}

		#nav a {
			text-decoration: none;
			color: black;
			transition: background-color 0.2s ease-in-out;
		}

		#nav a:hover {
			text-decoration: none;
			background-color: #507410;
			transition: background-color 0.2s ease-in-out;
		}

		#nav a:visited {
			text-decoration: none;
			color: black;
		}

	span {
		font-family: 'Roboto Mono', Helvetica, sans-serif;
		font-size: 11px;
		font-weight: normal;
		line-height: 40px;
		color: white;
		background: black;
		padding:5px;
	}

	.normal {
		font-weight: normal;
		text-align: center;
	}

	@media all and (min-width: 820px) and (max-width: 1125px) {

		#details {
			margin-top: 0;
		}

		#links {
			clear: none;
			margin-top: 0;
			margin-left: 410px;
		}

		#links h4 {
			display: none;
		}

	}


	@media all and (min-width: 740px) and (max-width: 820px) {

		#bio {
			float: left;
		}

		#details {
			float: left;
			margin-top: 0px;
		}

		#links {
			float: left;
			clear: none;
			position: relative;
			margin-top: 0;
			margin-left: 0px;
			width: 370px;
		}

		#links h4 {
			display: none;
		}

	}

	@media all and (min-width: 370px) and (max-width: 740px) {

		#bio {
			float: left;
			clear: none;
			position: relative;
			width: 370px;
		}

		#details {
			float: left;
			clear: none;
			position: relative;
			margin-top: 0px;
			width: 370px;
		}

		#links {
			float: left;
			clear: none;
			position: relative;
			margin-top: 0;
			margin-left: 0px;
			width: 370px;
		}

		#links h4 {
			display: none;
		}

	}